<!DOCTYPE html>
<html>
<head>
  <title>MyBoro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_container">

<div id="header">
<%= render "layouts/header" %>
</div>

<div id="subheader">
<%= render "layouts/subheader" %>
</div>

<div id ="main_body">
<%= render "layouts/main_body" %>

<%= yield %>

</div>
</div>

</body>
</html>
