<!DOCTYPE html>
<html>
<head>
  <title>MyBoro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_container">

<div id="header">
<!-- <%#= render "layouts/header" %>  We can delete this because we populated header in the header.js file in the onReady function -->
</div>

<div id="signUpForm">
  <p>this is so cool</p>
</div>

<div id="subheader">
</div>

<div id ="main_body">
<%= render "layouts/main_body" %>

<%= yield %>

</div>
</div>

</body>
</html>
