<!DOCTYPE html>
<html>
<head>
  <title>MyBoro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<<<<<<< HEAD
<div id="header">
<!-- <%#= render "layouts/header" %>  We can delete this because we populated header in the header.js file in the onReady function -->
</div>

<div id="signUpForm">
  <%= render "users/form" %>
</div>

<div id="subheader">
</div>

<div id="subheader">
<%= render "layouts/subheader" %>
</div>

<div id ="main_body">
<%= render "layouts/main_body" %>
=======
>>>>>>> 4283a6b222e4e544c8c57c1e8d63e7f9fbce8640

<%= yield %>

</div>
</div>

</body>
</html>
